
Pyrogram==1.2.9
TgCrypto==1.2.2
youtube_dl
youtube_search_python
youtube_search
requests==2.20.0
ffmpeg-python
motor
aiofiles
dnspython
pymongo
lyricsgenius
wget
git+https://github.com/starkgang/shazamio
dnspython>=2.1.0
aiohttp>=2.2.5
Pillow>=4.2.0
pytube
youtube-search-python>=1.4.2
